Package: com.now.mooner
Name: Mooner
Version: 0.0.1-Beta3
Architecture: iphoneos-arm
Description: The moon moons on you from its perch in the night sky...
Maintainer: NoW
Author: NoW
Section: Tweaks
Depends: ${ORION}, firmware (>= 12.2)
